@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
body {
    background: rgb(240, 240, 240);
    font-family: Rubik;
};

h1 {
    color: rgba(13, 4, 24, 0.945)
};

/* textarea {
    width: 600px;
    height: 300px;
    border: 1px solid black;
    padding: 2px 4px;
    overflow-y: scroll;
    overflow-x: auto;
};
*/

.div1 {text-align: center;}

table, th {
    border: 1px solid black;
    border-spacing: 10px;
    gap: 10px;
    text-align: center;
  }
  
  table.center {
    margin-left: auto; 
    margin-right: auto;
  }

.nav-bar {
text-align: center;
  };

