@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
body {
    background: rgb(249, 246, 239);
    font-family: Rubik;
    text-align: center;
};

h1 {
    color: rgba(13, 4, 24, 0.945)
};